{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<h2 class="title-admin">Espace Administrateur</h2>
<h2 class="title-admin">Gèrer les Collections</h2>
<br></br>
<table class="table">
  <thead>
    <tr class="table">
      <th scope="col">N°</th>
      <th scope="col">Titre</th>
      <th scope="col">Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for collection in collections %}
    <tr class="table">
      <th scope="row">{{collection.id}}</th>
      <td>{{collection.title}}</td>
      <td>{{collection.createdAt|date}}</td>
      <td>
      <a class="btn btn-lg btn-primary" href="{{path('admin_collections_modifier', {id: collection.id} )}}">Modifier</a>
      <a class="btn btn-lg btn-danger" href="{{path('admin_collections_supprimer', {id: collection.id} )}}">Supprimer</a>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
<br></br>
<a class="btn btn-lg btn-primary" href="{{path('admin_collections_ajout')}}">Ajouter une collection</a>
<a class="btn btn-lg btn-danger" href="{{path('admin_home')}}">Retour</a>
{% endblock %}
