{% extends 'base.html.twig' %}

{% block title %}{{collection.title}}{% endblock %}

{% block body %}

<h2 class="title">{{collection.title}}</h2>
<br></br>

<p class="title">{{collection.content|raw}}</p>
<div class="caroulix" id="example-caroulix" data-ax="caroulix" data-ax-caroulix-autoplay-enabled="true" data-caroulix-indicators-enabled="true">
  <div class="caroulix-arrow caroulix-prev">
    <i class="fa fa-chevron-left"></i>
  </div>
  <div class="caroulix-arrow caroulix-next">
    <i class="fa fa-chevron-right"></i>
  </div>
  {% for image in collection.images %}
  <div class="caroulix-item">
    <img src="{{asset('uploads/' ~ image.name)}}" alt="{{collection.title}}" />
  </div>
  {% endfor %}
</div>
</div>



<h2>Commentaires</h2>
{% for comment in collection.comments %}
<div class="comment-container">
<p>{{app.user.name}}</p>
<p>{{comment.content|raw}}</p>
<p>Commentaire Publié le {{comment.createdAt|date("d/m/Y H:i")}}</p>
</div>
{% endfor %}
{{form(commentForm)}}

{% endblock %}

{% block javascript %}
<script>
CKEDITOR.config.allowedContent = true;
let caroulix = new Axentix.Caroulix('#example-caroulix');
caroulix.next();
</script>
{% endblock %}
