{% extends 'base.html.twig' %}

{% block title %}{{collection.title}}{% endblock %}

{% block body %}
<div class="container">
  <h2 class="title">{{collection.title}}</h2>
  <br></br>
  <p class="subtitle">{{collection.content|raw}}</p>
  <div class="caroulix" id="example-caroulix" data-ax="caroulix" data-ax-caroulix-autoplay-enabled="true" data-caroulix-indicators-enabled="true">
    <div class="caroulix-arrow caroulix-prev">
      <i class="fa fa-chevron-left"></i>
    </div>
    <div class="caroulix-arrow caroulix-next">
      <i class="fa fa-chevron-right"></i>
    </div>
    {% for image in collection.images %}
    <div class="caroulix-item">
      <img src="{{asset('uploads/' ~ image.name)}}" alt="{{collection.title}}" />
    </div>
    {% endfor %}
  </div>
  </div>
</div>


{# FONCTIONNALITE COMMENTAIRE A AJOUTER PLUS TARD }
{# <h2>Commentaires</h2>
{% for comment in collection.comments %}
<div class="comment-container">
<p>{{comment.users.name}}</p>
<p>{{comment.content|raw}}</p>
<p>Commentaire Publié le {{comment.createdAt|date("d/m/Y H:i")}}</p>
<p><a href="#ajout-commentaire" data-reply data-id="{{comment.id}}">Répondre</a></p>
</div>
{% endfor %}
<div id="ajout-commentaire">
{{form(commentForm)}}
</div>

{% endblock %}

{% block javascript %}
<script>
let caroulix = new Axentix.Caroulix('#example-caroulix');
caroulix.next();

// Ajout d'un écouteur d'évenement pr les btn Répondre
window.onload = () => {
document.querySelectorAll("[data-reply]").forEach(element => {
  element.addEventListener('click', function(){
       document.querySelector('#comments_parentid').value = this.dataset.id;
  });
});
}
</script> #}
{% endblock %}
