{% extends 'base.html.twig' %}

{% block title %}Page Profil{% endblock %}

{% block body %}

	<div>
		{% for message in app.flashes('message') %}
			<div>
				<div>{{message}}</div>
			</div>
		{% endfor %}
<br></br>
<h2 style="text-align: center;">Bienvenue, {{app.user.name}}</h2>
    {% if app.user %}
        <div class="mb-3" style="text-align: center;">
            Heureux de vous voir, {{ app.user.name }}. Cliquez <a href="{{ path('app_logout') }}">ICI</a> pour vous déconnecter
        </div>
    {% endif %}
<a class="btn btn-lg btn-primary"  href="{{path('users_profil_modifier')}}">Modifier le profil</a>
<a class="btn btn-lg btn-primary"  href="{{path('users_password_modifier')}}">Modifier le mot de passe</a>
{% endblock %}
